wh(w, h)
	width: w
	height: h
min-w()
	min-width: arguments
max-w()
	max-width: arguments
min-h()
	min-height: arguments
max-h()
	max-height: arguments
z()
	z-index: arguments
w()
	width: arguments
h()
	height: arguments
pos()
	position: arguments
t()
	top: arguments
l()
	left: arguments
b()
	bottom: arguments
r()
	right: arguments
tl(t, l)
	top: t
	left: l
tr(t, r)
	top: t
	right: r
br(b, r)
	bottom: b
	right: r
bl(b, l)
	bottom: b
	left: l
fl()
	float: arguments
bg()
	background: arguments
bgc()
	background-color: arguments
bgr()
	background-repeat: arguments
c()
	color: arguments
fo()
	font: arguments
fo-s()
	font-size: arguments
fo-w()
	font-weight: arguments
fo-f()
	font-family: arguments
lh()
	line-height: arguments
dis()
	display: arguments
bor()
	border: arguments
bor-r()
	border-right: arguments
bor-l()
	border-left: arguments
bor-t()
	border-top: arguments
bor-b()
	border-bottom: arguments
bor-radius()
	border-radius: arguments
	-moz-border-radius: arguments
	-webkit-border-radius: arguments
bor-radius-br()
	-webkit-border-bottom-right-radius: arguments
	-moz-border-radius-bottomright: arguments
	border-bottom-right-radius: arguments
bor-radius-bl()
	-webkit-border-bottom-left-radius: arguments
	-moz-border-radius-bottomleft: arguments
	border-bottom-left-radius: arguments
bor-radius-tr()
	-webkit-border-top-right-radius: arguments
	-moz-border-radius-topright: arguments
	border-top-right-radius: arguments
bor-radius-tl()
	-webkit-border-top-left-radius: arguments
	-moz-border-radius-topleft: arguments
	border-top-left-radius: arguments
mar()
	margin: arguments
mar-t()
	margin-top: arguments
mar-l()
	margin-left: arguments
mar-b()
	margin-bottom: arguments
mar-r()
	margin-right: arguments
pad()
	padding: arguments
pad-t()
	padding-top: arguments
pad-l()
	padding-left: arguments
pad-b()
	padding-bottom: arguments
pad-r()
	padding-right: arguments
tex-a()
	text-align: arguments
tex-i()
	text-indent: arguments
tex-deco()
	text-decoration: arguments
tex-trans()
	text-transform: arguments
cur()
	cursor: arguments
over()
	overflow: arguments
ver-a()
	vertical-align: arguments
box-shadow()
	-webkit-box-shadow n
	-moz-box-shadow n
	box-shadow n
opa(n)
	zoom 1
	opacity n
	filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')